body {
    color: #333;
}

.pure-g [class*="pure-u"] { 
font-family: "open sans";
}

a {
    text-decoration: none;
    color: /*#1b98f8*/ #0000CC;
}

#layout, #nav, #list, #main {
    margin: 0;
    padding: 0;
}

#nav {
    width: 100%;
    height: 40px;
    position: relative;
    background: rgba(252, 118, 118, 0.953);
    text-align: center;
}

#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}
#nav .nav-menu-button a:active,
#nav .nav-menu-button a:visited,
#nav .nav-menu-button a {
    color: #fff;
    font-weight: bold;
}

#nav.active {
    height: 80%;
}

.nav-inner {
    display: none;
}

#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}

#nav .pure-menu.pure-menu-open {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu a:hover,
    #nav .pure-menu a:focus {
        background: none;
        text-decoration: underline;
    }
    #nav .pure-menu a {
        color: #fff;
        margin-left: 0.5em;
        font-size: 13px
    }


.trace-item {
    padding: 0.3em 0em;
    border-left: 6px solid transparent;
    color: #000;
}
    .trace-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }


/* trace Content Styles */
.trace-content-header, .trace-content-body, .trace-content-footer {
    padding: 1em 2em;
}
    .trace-content-header {
        /*border-bottom: 1px solid #ddd;*/
    }

        .trace-content-title {
            margin: 0.5em 0 0;
            font-family: "roboto condensed";
        }
        .trace-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .trace-content-subtitle span {
                color: #999;
            }

    .trace-avatar {
        width: 32px;
        height: 32px;
    }


.trace-item-default  {
  border-radius: 2px;
  margin: 2px 0px;
  /*background: #F2FFD4;*/
  border-bottom: 1px dotted /*#B7B4B4*/ #FF4C4C;
  }
  
/* ============================= */
  .trail-list-avatar,
  .trail-list-trace-title,
  .trail-list-date,
  .trail-list-capsule,
  .trail-list-label {padding: 0 8px 0 0;}
  
  .trail-list-date { font-family: dejavu sans mono;}
   
  .trail-list-date,
  .trail-list-label{ font-size: 12px; }
  
  .trail-list-label { background: #5CDC01; }
  .trail-list-capsule { /*background: #98FF30;*/ font-size: 12px; color: #333; padding: 0px}

  .trace-content-body p {
  font-size: 14px;
  line-height: 22px;
  color: #1a1a1a;
 
  
  }
  
 .trail-list-trace-title {font-weight: 400; font-size: 14px;}
 .trail-list-trace-title a {color: #CE1A1A  /*#FF2121*/ /*#ED1818*/; text-decoration: underline;}


@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:500px; /* "left col (nav + list)" width */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav, #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left:-500px; /* "left col (nav + list)" width */
        width:150px;
        height: 100%;
        background: rgba(252, 118, 118, 0.953);
        border-right: 1px solid #afafaf;
        box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.085);
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #list {
        margin-left: -350px;
        width: 100%;
        height: 33%;
        /*border-bottom: 1px solid #ddd;*/
    }

    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }

}

@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        margin-left: -350px;
        width:350px;
        height: 100%;
        /*border-right: 1px solid #ddd;*/
        margin-top: 2em;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        position: static;
        margin: 0;
        padding: 0;
    }
}

