/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #333;
}

.pure-g [class*="pure-u"] { 
font-family: "open sans";
}

a {
    text-decoration: none;
    color: /*#1b98f8*/ #0000CC;
}


/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (trace list), and `#main` (trace content). All 3 elements are within `#layout`
 */
#layout, #nav, #list, #main {
    margin: 0;
    padding: 0;
}

/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    /*background: rgb(37, 42, 58);*/
    text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
    height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu.pure-menu-open {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu a:hover,
    #nav .pure-menu a:focus {
        /*background: rgb(55, 60, 90);*/
    }
    #nav .pure-menu a {
        color: #fff;
        margin-left: 0.5em;
        font-size: 13px
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }


/*
 * -- trace STYLES --
 * Styles relevant to the trace messages, labels, counts, and more.
 */
.trace-count {
    color: rgb(75, 113, 151);
}

.trace-label-personal,
.trace-label-work,
.trace-label-travel {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}
.trace-label-personal {
    background: #ffc94c;
}
.trace-label-work {
    background: #41ccb4;
}
.trace-label-travel {
    background: #40c365;
}


/* trace Item Styles */
.trace-item {
    padding: 0.3em 0em;
    /*border-bottom: 1px solid #ddd;*/
    border-left: 6px solid transparent;
    color: #000;
}
    .trace-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .trace-name,
    .trace-subject {
        margin: 0;
    }
    .trace-name {
        text-transform: uppercase;
        color: #999;
    }
    .trace-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.trace-item-selected {
    background: #eee;
}
.trace-item-unread {
    border-left: 6px solid #1b98f8;
}

/* trace Content Styles */
.trace-content-header, .trace-content-body, .trace-content-footer {
    padding: 1em 2em;
}
    .trace-content-header {
        /*border-bottom: 1px solid #ddd;*/
    }

        .trace-content-title {
            margin: 0.5em 0 0;
            font-family: "roboto condensed";
        }
        .trace-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .trace-content-subtitle span {
                color: #999;
            }
    .trace-content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .trace-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }

    .trace-avatar {
        width: 32px;
        height: 32px;
    }


.trace-item-green  {
  border-radius: 2px;
  margin: 2px 0px;
  /*background: #F2FFD4;*/
  border-bottom: 1px dashed /*#B7B4B4*/ #FF4C4C;
  }
  
/* ============================= */
  .trail-list-avatar,
  .trail-list-trace-title,
  .trail-list-date,
  .trail-list-capsule,
  .trail-list-label {padding: 0 8px 0 0;}
  
  .trail-list-date { font-family: dejavu sans mono;}
   
  .trail-list-date,
  .trail-list-label{ font-size: 12px; }
  
  .trail-list-label { background: #5CDC01; }
  .trail-list-capsule { /*background: #98FF30;*/ font-size: 12px; color: #333; padding: 0px}

  .trace-content-body p {
  font-size: 14px;
  line-height: 22px;
  color: #1a1a1a;
 
  
  }
  
  .trail-list-trace-title {font-family: "pt sans" !important; font-weight: 700; font-size: 14px;}
 .trail-list-trace-title a {color: #000 /*#ED1818*/;}


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:500px; /* "left col (nav + list)" width */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav, #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left:-500px; /* "left col (nav + list)" width */
        width:150px;
        height: 100%;
        background: rgba(252, 118, 118, 0.953);
        border-right: 1px solid #afafaf;
        box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.085);
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #list {
        margin-left: -350px;
        width: 100%;
        height: 33%;
        /*border-bottom: 1px solid #ddd;*/
    }

    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        margin-left: -350px;
        width:350px;
        height: 100%;
        /*border-right: 1px solid #ddd;*/
        margin-top: 2em;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        position: static;
        margin: 0;
        padding: 0;
    }
}

