  <div id="list" class="pure-u-1">
    {% for post in site.posts %}
       <div class="trace-item trace-item-green pure-g">
         <div class="pure-u-1-5">
		   {% if post.avatar %}
		     <img class="trace-avatar" src="{{site.baseurl}}images/avatar/{{post.avatar}}" alt="">
           {% endif %}</div>
		 <div class="pure-u-4-5"> 
		   <span class="trail-list-date">
		     <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b||%d||%Y"}}</time> &rarr;
		   </span> 
           <span class="trail-list-trace-title">
             <a href="{{ post.url }}">{{ post.title }}</a>
           </span>
            {% if post.capsule %}
              <span class="trail-list-capsule pure-u-1">
	            {{post.capsule}}
              </span>
            {% endif %}
            {% if post.labels %}
              <span class="trail-list-label">
		        {{ post.labels | category_links }}
              </span>
            {% endif %}
         </div>  
       </div>
    {% endfor %}
  </div>
