<script type="text/javascript" src="{{page.root_path}}/public/docs/js/audiojs/audio.js"></script>  
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  }); 
</script>
{% for mp3 in page.mp3 %}
  <div class="audio-attachment">
  <audio src="{{ mp3.url }}" preload="none"></audio>
    {% if page.cover %}
      {% for cover in page.cover %}
        <div class="cover"><img src="{{ cover.url }}" width="90px" height="90px" alt="{{ mp3.name }}" ></div>
        <div class="audio-info"><p>{{ mp3.name }}</p>{{page.mp3_description}}</div>
  </div>
      {% endfor %}
    {% endif %}
{% endfor %}
