div#media { clear: both; padding: 30px 0px 0px 0px; }
div.media { margin: 0px 0px 10px; }
div.description div#images { padding: 0px 0px 0px 0px; }
div#media img { margin: 0px 0px 10px; }
p#project-count, p#gallery-count { margin: 2px 20px 0px 0px; }
p#gallery-count, div#gallery-navigation { display: none; }
p#gallery-count span { margin: -1px 0px 0px; display: block; }
div#project-navigation { margin: 0px 0px 0px 20px; }
div#project-navigation p, div#gallery-navigation p { margin: 0px 0px 1px; }
#gallery-navigation {margin-top: 10px;}

div#image-wrapper { overflow: hidden; width: 560px; }
div#image-wrapper div#image-holder { width: 35791394px; }
div#image-wrapper div#image-holder div.image { float: left; width: 560px; }

.audio-attachment p {margin: 0px 0px 8px; font-size:12px}
.cover { width: auto; height: auto; display: block; float: left; margin-right: 16px;/*background: #ddd;*/}
div.cover img {margin: 0px!Important; }
.audio-info {float: left; clear: right;}
.audio-attachment { display: block; clear:left; height: 112px; width: auto; /*background: #eee;*/}

a.atom-rss { margin: 0px 0px 0px 6px; padding: 3px; border-radius: 2px; font-size: 0.93em; letter-spacing: 0.08em; background: #ddd; }

/* Javascript-enabled styles */
body.js-enabled p#gallery-count, body.js-enabled div#gallery-navigation { display: block; }
body.js-enabled p#project-count { display: block; }
body.js-enabled div#media div.image { display: block; }
body.js-enabled div#media div.image:first-child { display: block; }
