body,.pure-g [class *= "pure-u"],.pure-g-r [class *= "pure-u"]{font-family:"open sans";font-size:14px}
a,a:visited{color:#ff3a44;text-decoration:none}
.sections li a{text-decoration:none;color:#333}
.sections li{padding:4px 0;font-size:14px}
.trail-list{font-family:"open sans"}
.trail-list{padding-left:10px;font-family:"open sans";margin-top:80px}
.title-space{height:80px;font-family:ubuntu;font-weight:700;position:fixed;right:0;z-index:1030;background:rgba(255,255,255,0.953)}
.title{padding:0 10px;font-family:ubuntu}
.logo-space{height:80px;background:0;position:fixed;left:0;z-index:1030;background:rgba(255,255,255,0.953)}
.logo{background-repeat:no-repeat;float:right;margin:18px 10px 0 0}
.projects{margin-top:20px}
ul.sections{list-style:none;margin-top:80px}
.sections{position:fixed}
div.trace-segment{height:auto;padding:4px;font-size:18px;font-family:"open sans";width:100%}
div.trace-segment a{font-weight:700;text-decoration:none;color:white;font-size:16px}
.trace-segment:hover{background:#adfb1c}
.trace-name,.trace-avatar{font-family:"open sans";height:32px}
.pure-u-1-5.trace-date{font-family:"source-sans"}
.trace-name{background:black;color:white;border-radius:2px;overflow:hidden}
div.placeholder1{background:#fff;margin-top:20px;background:#e5e5c3}
.placeholder1 p{margin:0;font-size:13px;font-family:Istok}
#footer{background:#e7e7e3;margin-top:20px;font-family:"open sans";font-size:13px;color:#949494}
img.project-thumb{border:1px solid}
.fap{width:100%}
.fap p{background:#000;color:#fff}
.nfo-content-wrap,.trace-content-wrap{margin-top:80px;padding:0 10px}
.next{text-align:right}
.trace-media-page h2{font-family:ubuntu;font-size:32px}
.info-content p,.trace-description p{color:#333;padding-bottom:20px;line-height:22px}
