<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  {% include 'partials/head-min.html' %}
  </head>
  <body>
    <div class="pure-g-r">
      <div class="logo-space pure-u-1-5"><img class="logo" src="public/docs/img/bolt-logo.png" alt="boltbuckle">
      </div><!-- end logo-space -->
      <div class="title-space pure-u-4-5">
		 <h1 class="title"><strong>{{ page.project_title }}</strong></h1>
      </div><!-- end title-space -->
        {% include 'partials/navigation/navigation-ol.html' %}
      <div id="content" class="pure-u-4-5">
      <div class="trail-list pure-g-r">
		{% include 'partials/navigation/trail-list-oldest-first.html' %}
      </div><!-- end trail-list pure-g-r -->
      </div><!-- end content -->
      <div class="placeholder1 pure-u-1-5"><p><a href="{{ page.root_path }}/admin">admin login</a></p>
      </div><!-- end placeholder1 -->
      <div id="footer" class="pure-u-4-5">&copy; Copyright {{ page.name }} {{ page.current_year }} <a class="atom-rss" href="{{ page.root_path }}/?/feed/">RSS</a><br>
      </div><!-- end footer -->
    </div><!-- end main pure-g-r -->
  </body>
</html>
